{%extends "base.html"%}


{%block title%}
HomePage
{%endblock title%}


{%block body%}

<div class = "container-fluid px-0">
	<img src = "../static/img/about.webp" class="d-block w-100" alt="..." height=300vh>
</div>
<h1 class = "mx-3">  About Us</h1>
<div class = "row-m p-3" >
	<p style="border-radius:20px; border-width:2px;border-style: solid;padding:5px;">
		Welcome to Winter Ice Cream Company – where winter magic meets year-round indulgence! Founded on a passion for crafting unique, premium-quality ice cream, we believe that a scoop of ice cream has the power to bring joy, warmth, and a little bit of whimsy to any season.
		<br><br>
		Our journey began with a simple goal: to create ice cream that isn’t just a treat, but an experience. Using locally-sourced ingredients and a touch of creativity, we blend traditional favorites with innovative flavors inspired by the cozy comfort of winter. From rich, velvety chocolate to seasonal spices, every flavor we create is designed to capture the essence of winter’s charm – whether it’s a classic favorite or a new discovery.
		<br><br>
		At Winter Ice Cream, we’re more than just a company; we’re a community. Our team is a group of dedicated artisans, food lovers, and dreamers who pour their heart into every batch. We’re committed to sustainability, quality, and supporting local farmers and suppliers, ensuring that our ice cream doesn’t just taste good – it does good too.
		<br><br>
		Join us in celebrating the magic of winter, one scoop at a time! Whether you’re a fan of traditional flavors or love exploring new, seasonal delights, Winter Ice Cream Company is here to bring a little frosty sweetness to your day.
	</p>
</div>
<br>
<br>
{%endblock body%}