{%extends "base.html"%}


{%block title%}
HomePage
{%endblock title%}


{%block body%}
<div class = "container-fluid px-0">
	<img src = "../static/img/about.webp" class="d-block w-100" alt="..." height=300vh>
</div>
<h1 class = "mx-3"> Our Services - Winter Ice Cream Company</h1>
<div class = "row-m p-3" >
	<p style="border-radius:20px; border-width:2px;border-style: solid;padding:5px;">
		
		At Winter Ice Cream Company, we bring a unique twist to every event, gathering, or moment with our exceptional ice cream services. From personalized catering to seasonal offerings, our goal is to make every occasion sweeter and more memorable with delicious, handcrafted flavors. Explore our services below:
	</p>
	<p style="border-radius:20px; border-width:2px;border-style: solid;padding:5px;">

		<a href ="">Event Catering & Mobile Ice Cream Cart</a>:-
		Make your event unforgettable with our fully customizable ice cream cart! Perfect for weddings, parties, corporate events, and community gatherings, our ice cream cart serves freshly scooped, artisan ice cream that’s sure to delight guests of all ages. With options to choose custom flavors, toppings, and even add a theme, our catering service makes any event a bit more magical.
	</p>
	<p style="border-radius:20px; border-width:2px;border-style: solid;padding:5px;">
		<a href ="">Corporate & Custom Orders</a>:-
		Planning a corporate gathering or employee appreciation day? We offer custom ice cream flavors and packaging that are ideal for corporate events. Impress your team with exclusive flavors branded to your company or select from our seasonal favorites to show appreciation in the sweetest way possible.
	</p>
	<p style="border-radius:20px; border-width:2px;border-style: solid;padding:5px;">
		<a href ="">Seasonal Flavor Subscriptions</a>:-
		Can’t get enough of our unique, winter-inspired flavors? Join our Seasonal Flavor Subscription and receive pints of our limited-edition flavors delivered right to your doorstep. Each season, we craft special blends inspired by the flavors of the moment – a true treat for ice cream enthusiasts looking to explore something new!
	</p>
	<p style="border-radius:20px; border-width:2px;border-style: solid;padding:5px;">
		<a href ="">Ice Cream Cakes & Custom Desserts</a>:-
		Celebrating a special occasion? Our ice cream cakes and custom dessert options are perfect for birthdays, anniversaries, and any milestone worth celebrating. Choose from a range of flavors, fillings, and decorations to create a cake that not only tastes delicious but looks stunning too.
	</p>
	<p style="border-radius:20px; border-width:2px;border-style: solid;padding:5px;">
		<a href ="">Retail & Wholesale Partnerships</a>:-
		Interested in featuring Winter Ice Cream at your shop, café, or restaurant? We offer wholesale options for businesses looking to add a premium ice cream experience to their menu. Let’s partner together to bring our unique flavors to even more customers in your community.
	</p>
	<p style="border-radius:20px; border-width:2px;border-style: solid;padding:5px;">
		<a href ="">Pop-Up Events & Ice Cream Tastings</a>:-
		Join us at one of our pop-up locations or ice cream tasting events! Experience an exclusive preview of new flavors, meet our team, and enjoy a behind-the-scenes look at what makes Winter Ice Cream so special. Follow us on social media to stay updated on where we’ll be next!
	</p>
	<p style="border-radius:20px; border-width:2px;border-style: solid;padding:5px;">
		Each of our services is designed with you in mind, blending exceptional quality with a dash of winter wonder. Let Winter Ice Cream Company bring something special to your next celebration, gathering, or just an everyday indulgence.

		Ready to Sweeten Your Day?
		Contact us to learn more about our services, pricing, and how we can make your next occasion cooler than ever!
	</p>
</div>
<br>
<br>
{%endblock body%}